@{
    ViewBag.Title = "My online portfolio..";
}
<div class="page-header">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>

    <div class="col-md-12 ">

        <div class="panel-body">
            <p>My name is Luke Griffith and this is my e-portfolio, this is an ASP.NET MVC blog framework I designed myself to showcase my skills and a place to relocate my PowerShell and general technology blog where I post about technologies and how I use and integrate them.</p>

            <p>I'm an automator, infrastructure engineer and an efficient problem solver utilising PowerShell as my primary tool. I'm looking at expand my knowledge around cloud engineering and architecture, as I believe cloud technologies will be a major part of business critical IT in the coming years.</p>
        </div>

    </div>

    <div class="col-lg-12">
        <div class="page-header">
            <h1>Work History</h1>
        </div>
    </div>

    <div class="col-md-12">

        <div class="col-md-4 col-lg-4">


            <h2>Attenda - Current</h2>

            <p>As one of the UK's leading managed services and cloud platform providers, Attenda specialise in running business critical applications for clients.</p>
            <h4>Infrastructure Engineer</h4>
            <a class="btn btn-default" href="http://www.attenda.com/">More &raquo;</a>
        </div>

        <div class="col-md-4 col-lg-4">


            <h2>Easynet / MDNX</h2>

            <p>Easynet was acquired by MDNX – a leading independent integrator providing critical managed networks and cloud computing infrastructure to major UK enterprise, local government and channel partners – in 2013.</p>
            <h4>Network Analyst</h4>
            <a class="btn btn-default" href="https://www.easynet.com/gb/en">More &raquo;</a>
        </div>

        <div class="col-md-4 col-lg-4">


            <h2>Timeless IT</h2>

            <p>Customer centered technology company. One that realises the different needs of the home and business IT user, yet has the knowledge and understanding to provide support for them both.</p>
            <h4>Desktop Support</h4>
            <a class="btn btn-default" href="http://timelesstech.co.uk/">More &raquo;</a>
        </div>



    </div>
