@{
    ViewBag.Title = "My online portfolio..";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hi! I’m Luke and welcome to my place on the internet, this is an ASP.NET MVC web framework I put together when I was learning ASP.NET to aid automation projects at work. I decided to use this to showcase some of my skills and a place to relocate my PowerShell and general technology blog. </p>

<p>I'm an automator, infrastructure engineer and an efficient problem solver utilising PowerShell as my primary tool. I'm looking at expand my knowledge around cloud engineering and architecture, as I believe cloud technologies will be a major part of business critical IT in the coming years.</p>

<p>have exposure to a a wide range of computer technologies, coming form a development and support perspective. I also ensure a customer focus attitude is maintained to ensure the best service is delivered to clients. </p>
