@{
    ViewBag.Title = "Contact";
}
<div class="page-header">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>

<address>
    email:   <a href="mailto:lukemgriffith@gmail.com">lukemgriffith@gmail.com</a><br />
    twitter: <a href="https://twitter.com/LukeGriffith">@@LukeGriffith</a><br />
        linkedin <a href="https://uk.linkedin.com/in/lukemgriffith">lukemgriffith</a><br />

</address>