@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    07920144852
</address>

<address>
    <strong>email:</strong>   <a href="mailto:lukemgriffith@gmail.com">lukemgriffith@gmail.com</a><br />
</address>